<div class="upload-page">

  <mat-card class="upload-card">

    <mat-card-title>
      AI Resume Analyzer
    </mat-card-title>

    <mat-card-content>

      <input
        type="file"
        (change)="onFileSelected($event)"
      />

      <button
        mat-raised-button
        color="primary"
        (click)="uploadResume()"
        [disabled]="!selectedFile || isLoading"
      >

        {{ isLoading ? 'Analyzing...' : 'Analyze Resume' }}

      </button>

    </mat-card-content>

  </mat-card>

  <mat-card
    class="result-card"
    *ngIf="analysisResult"
  >

    <mat-card-title>
      ATS Score
    </mat-card-title>

    <mat-card-content>

      <h1>
        {{ analysisResult.analysis.ats_score }}
      </h1>

    </mat-card-content>

  </mat-card>

  <mat-card
    class="result-card"
    *ngIf="analysisResult"
  >

    <mat-card-title>
      Technical Skills
    </mat-card-title>

    <mat-card-content>

      <mat-chip-set>

        <mat-chip
          *ngFor="
            let skill of
            analysisResult.analysis.technical_skills
          "
        >
          {{ skill }}
        </mat-chip>

      </mat-chip-set>

    </mat-card-content>

  </mat-card>

</div>