.upload-page {

  padding: 40px;

  display: flex;

  flex-direction: column;

  gap: 20px;

  align-items: center;
}

.upload-card,
.result-card {

  width: 800px;

  padding: 20px;
}

button {

  margin-top: 20px;
}

mat-chip-set {

  display: flex;

  flex-wrap: wrap;

  gap: 10px;
}